<h1>物件登録</h1>

<%= form_for @build do |f| %>
    <p>
    <%= f.label :name, "物件名" %>
    <%= f.text_field :name %>
    </p>
   
    <p>
    <%= f.label :rent, "賃料" %>
    <%= f.text_field :rent %>
    </p>
   
    <p>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
    </p>

    <p>
    <%= f.label :age, "築年数" %>
    <%= f.text_field :age %>
    </p>

    <p>
    <%= f.label :remark, "備考" %>
    <%= f.text_field :remark %>
    </p>
    
    <%= f.submit "登録する" %>
   
  <% end %>